In [63]:
from pathlib import Path

import pandas as pd
from functools import reduce
import networkx as nx
import pickle

from string_db_combined_graph import load_graphs_from_folder

In [68]:
with open('./Temporary_files/string_db/filtred_graph/filtered_graph.pickle', "rb") as f:
    combined_graph = pickle.load(f)
combined_graph_nodes = set(combined_graph.nodes)

In [103]:
[gene for gene in combined_graph_nodes if 'PARP' in gene]

['PARP8',
 'PARP12',
 'PARP6',
 'PARP3',
 'PARP9',
 'PARP16',
 'PARP4',
 'PARP1',
 'PARP10',
 'PARP14',
 'PARP2']

In [64]:
graphs_list = load_graphs_from_folder(Path('./Temporary_files/string_db'))

2023-03-31 18:35:53.491 | INFO     | string_db_combined_graph:load_graphs_from_folder:56 - Successfully loaded 44 graphs

In [80]:
total = True
for graph in graphs_list:
    current_graph_nodes = set(graph.nodes)
    total *= current_graph_nodes.intersection(combined_graph_nodes) == combined_graph_nodes
total

0

In [110]:
with open('./Temporary_files/combined_graph_nodes.lst', 'w') as cgn_out:
    for node in combined_graph_nodes:
        cgn_out.write(node + '\n')

In [121]:
from typing import List

In [134]:
def load_taxids(taxids_filepath: Path) -> List[int]:
    with open(taxids_filepath, 'r') as taxids_file:
        lines = taxids_file.readlines()
        taxids_list = [int(line.strip()) for line in lines if line.strip() != '']
        return taxids_list

In [135]:
taxids_list = load_taxids('./Input_data/Tetrapoda.ids')

In [136]:
orthologs_df = pd.read_csv('./Input_data/gene_orthologs', sep='\t')

In [143]:
orthologs_df_hs = orthologs_df.loc[orthologs_df['#tax_id'] == 9606, :]
orthologs_df_taxed = orthologs_df_hs.loc[orthologs_df['Other_tax_id'].isin(taxids_list), :]

In [144]:
orthologs_df_taxed

         #tax_id     GeneID relationship  Other_tax_id  Other_GeneID
882138      9606          1     Ortholog          9361     101415481
882139      9606          1     Ortholog          9371     101642209
882140      9606          1     Ortholog          9402     102894356
882141      9606          1     Ortholog          9407     107500433
882142      9606          1     Ortholog          9417     119051603
...          ...        ...          ...           ...           ...
7460820     9606  128706666     Ortholog         50954     129145976
7460821     9606  128706666     Ortholog         84834     129046636
7460822     9606  128854680     Ortholog         39638     129123180
7460823     9606  128854680     Ortholog         50954     119234322
7460824     9606  128854680     Ortholog         84834     118688462

[5146827 rows x 5 columns]